{% extends 'blog/base.html' %}
{% block content %}
<h3 class="border-bottom">من انا</h3>
<br><br><br>
<label class="about">الاسم :</label>
<h5><font color="red">وليد نصر الدين</font></h5>
<label class="about">الكلية:</label>
<h5><font color="red">علوم الحاسوب وتقانة المعلومات</font> </h5>
<label class="about">الجامعة :</label>
<h5><font color="red">شندي</font></h5>
<label class="about">الهاتف :</label>
<h5><font color="red">249916388010+</font></h5>
<label class="about">التخصص:</label>
<h5>
    <font color="red">برمجة مواقع الويب (back end) بلغة python ب django</font></h5>
{% endblock content %}


<font color="red"></font>